body {
  font-family: Arial;
  background-color: #fff;
  color: #808080;
}

a:hover {
 cursor:pointer;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: #f5f5f5; border-radius: 5px; color: #bbb}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0px auto; float: none; display: table;}

.counter a {
	padding: 20px 0 10px 0; 
	color: inherit;
	text-decoration: none;
	width:100%;
	height:100%;
	display:block;
}

.add-color {
	color: #308941;
	background: #DAECD2;
}
.update-color {
  color: #0097EC;
	background: #D0ECFB;	
}
.remove-color {
	color: #D32323;		
	background: #FCD6D3;	
}

.page-header {
	margin: 0px;
	color: #FFF;
	background: #0097EC;
	padding: 10px 25px 10px 25px;
	margin-bottom: 25px;
}

.page-header a {
	color: #fff;
}

.log {
	margin: 0px;
	padding: 15px;
	background-color: #f5f5f5;
	font-family: 'Inconsolata', monospace;
	font-size: .8em;
}


/* tidy tree */

.node circle {
  /*fill: #999;*/
}

.node text {
  font: 10px sans-serif;
	background-color: #FFF;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  /*fill: none;
  stroke: #555;*/
  stroke-opacity: 0.2;
  stroke-width: 1.5px;
}

text.shadow {
  /*stroke: white;
  stroke-width: 0.5px;
  opacity: 0.8;*/
	background: #fff;
	display: block;
}

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}