<a href="/#/account/memberships/{{account}}">{{account}} memberships</a>
<div id='myPlot'></div>
<section>
  <article ng-repeat="account in adaccounts.slice().reverse()
	<!--https://bl.ocks.org/vasturiano/ded69192b8269a78d2d97e24211e64e0-->
    <header>
      <
    </header>
  </article>
</section>