<script>
	var logoutput = "";
	
	function 
	}
</script>

<div class="container">
	<div class="row">
		<br/>
		<div class="col text-center">
			<h2>ADsync Report</h2>
			<p>{{date}}</p>
		</div>
	</div>
  <br/>
	<div class="row text-center">
		<div class="col"><p class="count-text ">Users</p></div>
		<div class="col"><p class="count-text ">Groups</p></div>
		<div class="col"><p class="count-text ">User-in-Group Relations</p></div>
		<div class="col"><p class="count-text ">Group-in-Group Relations</p></div>
	</div>
	<hr>
	<div class="row text-center">
		<div class="col">
			<div class="counter" ng-class="{'add-color' : userAddCount > 0}">
				<a ng-click="logoutput = parseUserList(userAddList)">
					<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{userAddCount}}</span>
					</h2>				
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter" ng-class="{'add-color' : groupAddCount > 0}">
				<a ng-click="logoutput = parseGroupList(groupAddList)">
					<i class="fa fa-database fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{groupAddCount}}</span>
					</h2>				
				</a>
			</div>
		</div>		
		<div class="col">
			<div class="counter" ng-class="{'add-color' : uigAddCount > 0}">
				<a ng-click="logoutput = parseUIGList(uigAddList)">
					<i class="fa fa-user fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{uigAddCount}}</span>
					</h2>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter" ng-class="{'add-color' : gigAddCount > 0}">
				<a ng-click="logoutput = parseGIGList(gigAddList)">		
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{gigAddCount}}</span>
					</h2>
				</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<div class="col">
			<div class="counter" ng-class="{'update-color' : userUpdateCount > 0}">
				<a ng-click="logoutput = parseUserList(userUpdateList)">
					<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{userUpdateCount}}</span>
					</h2>				
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter" ng-class="{'update-color' : groupUpdateCount > 0}">
				<a ng-click="logoutput = parseGroupList(groupUpdateList)">
					<i class="fa fa-database fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{groupUpdateCount}}</span>
					</h2>				
				</a>
			</div>
		</div>		
		<div class="col">
			<div class="counter">
				<a>
					<i class="fa fa-user fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>-</span>
					</h2>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter">
				<a>			
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>-</span>
					</h2>
				</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<div class="col">
			<div class="counter" ng-class="{'remove-color' : userRemoveCount > 0}">
				<a ng-click="logoutput = parseUserList(userRemoveList)">
					<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{userRemoveCount}}</span>
					</h2>				
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter" ng-class="{'remove-color' : groupRemoveCount > 0}">
				<a ng-click="logoutput = parseGroupList(groupRemoveList)">
					<i class="fa fa-database fa-2x" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{groupRemoveCount}}</span>
					</h2>				
				</a>
			</div>
		</div>		
		<div class="col">
			<div class="counter" ng-class="{'remove-color' : uigRemoveCount > 0}">
				<a ng-click="logoutput = parseUIGList(uigRemoveList)">
					<i class="fa fa-user fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{uigRemoveCount}}</span>
					</h2>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="counter" ng-class="{'remove-color' : gigRemoveCount > 0}">
				<a ng-click="logoutput = parseGIGList(gigRemoveList)">
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-arrow-right fa-2x d-inline" aria-hidden="true"></i>
					<i class="fa fa-database fa-2x d-inline" aria-hidden="true"></i>
					<h2 class="timer count-title count-number">
						<span>{{gigRemoveCount}}</span>
					</h2>
				</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row log" compile="outputlog">
2019-04-01T23:00:03.939Z ADsync Starting Active Directory Sync<br/>
 <br/>
2019-04-01T23:00:03.943Z ADsync:PHASE ######################## STARTING PHASE A ########################<br/>
2019-04-01T23:00:03.944Z ADsync:Database:groups Start retrieving groups.<br/>
2019-04-01T23:00:03.944Z ADsync:Active Directory:groups Start retrieving groups.<br/>
2019-04-01T23:00:03.947Z ADsync:Database:accounts Start retrieving accounts.<br/>
2019-04-01T23:00:03.948Z ADsync:Active Directory:accounts Start retrieving accounts.<br/>
2019-04-01T23:00:03.948Z ADsync:Database:UIGs Start retrieving User-in-Group relations from database.<br/>
2019-04-01T23:00:03.948Z ADsync:Database:GIGs Start retrieving Group-in-Group relations from database.<br/>
2019-04-01T23:00:04.297Z ADsync:Database:GIGs Finished retrieving Group-in-Group relations. Retrieved 16063 relations from database.<br/>
2019-04-01T23:00:11.392Z ADsync:Database:UIGs Finished retrieving User-in-Group relations. Retrieved 538444 relations from database.<br/>
2019-04-01T23:00:11.989Z ADsync:Database:groups Finished retrieving groups. Retrieved 29244 groups from database.<br/>
2019-04-01T23:00:16.009Z ADsync:Database:accounts Finished retrieving accounts. Retrieved 253294 accounts from database.<br/>
2019-04-01T23:00:19.521Z ADsync:Active Directory:groups Finished retrieving groups. Retrieved 29260 groups from Active Directory.<br/>
2019-04-01T23:00:50.438Z ADsync:Active Directory:accounts Finished retrieving accounts. Retrieved 253435 accounts from Active Directory.<br/>
2019-04-01T23:00:50.439Z ADsync:PHASE ######################## FINISHED PHASE A ########################<br/>
 <br/>
 <br/>
2019-04-01T23:00:50.439Z ADsync:PHASE ######################## STARTING PHASE B ########################<br/>
2019-04-01T23:00:50.439Z ADsync:PHASE ######################## FINISHED PHASE B ########################<br/>
 <br/>
 <br/>
2019-04-01T23:00:50.439Z ADsync:PHASE ######################## STARTING PHASE C ########################<br/>
2019-04-01T23:00:50.439Z ADsync:Script:Groups Start filtering groups into add, update and remove lists.<br/>
2019-04-01T23:00:50.640Z ADsync:Script:Groups Finished filtering groups. (Add: 16; Update: 513; Remove: 0)<br/>
2019-04-01T23:00:50.650Z ADsync:Script:Accounts Start filtering accounts into add, update and remove lists.<br/>
2019-04-01T23:00:53.148Z ADsync:Script:Accounts Finished filtering accounts. (Add: 206; Update: 6148; Remove: 65)<br/>
2019-04-01T23:00:53.148Z ADsync:UIG Start extraction of User-in-Group relations from ADaccounts.<br/>
2019-04-01T23:00:54.118Z ADsync:UIG Finished extracting User-in-Group relations from ADaccounts. (538299)<br/>
2019-04-01T23:00:54.119Z ADsync:GIG Start extraction of Group-in-Group relations from ADaccounts.<br/>
2019-04-01T23:00:54.221Z ADsync:GIG Finished extracting Group-in-Group relations from ADaccounts. (16070)<br/>
2019-04-01T23:00:54.221Z ADsync:PHASE ######################## FINISHED PHASE C ########################<br/>
 <br/>
 <br/>
2019-04-01T23:00:54.221Z ADsync:PHASE ######################## STARTING PHASE D ########################<br/>
2019-04-01T23:00:54.221Z ADsync:Database:groups:add Start adding groups to the database. (16)<br/>
2019-04-01T23:00:54.228Z ADsync:Database:groups:update Start updating groups to the database. (513)<br/>
2019-04-01T23:00:54.289Z ADsync:Database:groups:remove Start deleting groups from the database. (0)<br/>
2019-04-01T23:00:54.289Z ADsync:Database:groups:remove Finished deleting groups. Deleted 0 groups from the database.<br/>
2019-04-01T23:00:54.289Z ADsync:Database:accounts:add Start adding accounts to the database. (206)<br/>
2019-04-01T23:00:54.320Z ADsync:Database:accounts:update Start updating accounts to the database. (6148)<br/>
2019-04-01T23:00:54.769Z ADsync:Database:accounts:remove Start deleting accounts from the database. (65)<br/>
2019-04-01T23:00:54.774Z ADsync:UIG Start filtering User-in-Group relations into add and remove lists.<br/>
2019-04-01T23:00:57.402Z ADsync:UIG Finished filtering User-in-Group relations. (Add: 837; Remove: 982)<br/>
2019-04-01T23:00:57.412Z ADsync:GIG Start filtering Group-in-Group relations into add and remove lists.<br/>
2019-04-01T23:00:57.498Z ADsync:GIG Finished filtering Group-in-Group relations. (Add: 7; Remove: 0)<br/>
2019-04-01T23:03:33.407Z ADsync:Database:groups:add Finished adding groups. Added 16 groups to the database.<br/>
2019-04-01T23:03:34.990Z ADsync:Database:accounts:remove Finished deleting accounts. Deleted 65 accounts from the database.<br/>
2019-04-01T23:03:40.636Z ADsync:Database:groups:update Finished updating groups. Updated 513 groups to the database.<br/>
2019-04-01T23:03:40.752Z ADsync:Database:accounts:add Finished adding accounts. Added 206 accounts to the database.<br/>
2019-04-01T23:14:41.479Z ADsync:Database:accounts:update Finished updating accounts. Updated 6148 accounts to the database.<br/>
2019-04-01T23:14:41.480Z ADsync:PHASE ######################## FINISHED PHASE D ########################<br/>
 <br/>
 <br/>
2019-04-01T23:14:41.480Z ADsync:PHASE ######################## STARTING PHASE E ########################<br/>
2019-04-01T23:14:41.480Z ADsync:Database:UIGs:add Starting insertion of User-in-Group relations to the database. (837)<br/>
2019-04-01T23:14:41.580Z ADsync:Database:UIGs:remove Starting removal of User-in-Group relations from the database. (982)<br/>
2019-04-01T23:14:41.693Z ADsync:Database:GIGs:add Starting insertion of Group-in-Group relations to the database. (7)<br/>
2019-04-01T23:14:41.694Z ADsync:Database:GIGs:remove Starting removal of Group-in-Group relations from the database. (0)<br/>
2019-04-01T23:14:41.695Z ADsync:Database:GIGs:remove Finished removing Group-in-Group relations. Removed 0 records from the database.<br/>
2019-04-01T23:18:33.607Z ADsync:Database:UIGs:add Finished inserting User-in-Group relations. Inserted 837 records into the database.<br/>
2019-04-01T23:18:33.626Z ADsync:Database:GIGs:add Finished inserting Group-in-Group relations. Inserted 7 records into the database.<br/>
2019-04-01T23:18:34.078Z ADsync:Database:UIGs:remove Finished removing User-in-Group relations. Removed 982 records from the database.<br/>
2019-04-01T23:18:34.078Z ADsync:PHASE ######################## FINISHED PHASE E ########################<br/>
 <br/>
2019-04-01T23:18:34.078Z ADsync Finished Active Directory Sync<br/>
Email sent: 250 2.0.0 OK  1554160690 f15sm2129122eja.39 - gsmtp
	</div>
</div>